## Compressed build results
*.war
*.jar
*.ear

## LegendOfWalkorrunia build folders
/LegendOfWalkorrunia/build/
/LegendOfWalkorrunia/nbbuild/
/LegendOfWalkorrunia/dist/
/LegendOfWalkorrunia/nbdist/

## UI build folders
/LegendOfWalkorruniaUI/build/
/LegendOfWalkorruniaUI/nbbuild/
/LegendOfWalkorruniaUI/dist/
/LegendOfWalkorruniaUI/nbdist/

## Netbeans metadata
/LegendOfWalkorrunia/nbproject/private/
/LegendOfWalkorruniaUI/nbproject/private/
